.cards-container {
  width: 100%;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr); /* Laptop - 4 cards */
}

.card-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.card-box:hover {
  transform: scale(1.05);
}

.cardimg {
  width: 70%;
  height: 180px;
  object-fit: contain;    /* perfect image fit */
}

/* Product text styles */
.p-name {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

.p-rating {
  font-size: 15px;
  color: #ffc107; /* yellow star color */
}

.p-price {
  font-size: 17px;
  font-weight: bold;
  color: #007b3e; /* green price */
}

/* Responsive */
@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardimg {
    height: 140px;
  }
}
