.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.c-img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin: 0 10px;
}
#carouselExampleIndicators{
  width: 100%;
  margin: auto;
  height: 60vh;
  border: 2px solid black;
}
#curvimg{
  border-radius: 15px;
  height:60vh;
}
