.nav {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 15px;
}

.nav a {
  color: white;
  width: 400px;
  
  display: flex;

  text-decoration: none;
}
.links {
  display: flex;
  margin-right: 100px;
  
}
.logo {
  color: white;
}
